<section class="section is-large">
</section>
<section class="hero is-small is-warning">

    <div class="hero-body">
        <nav class="breadcrumb is-centered has-bullet-separator" aria-label="breadcrumb">
            <ul>
                <li>
                    <a href="https://github.com/GetFluxxed">
                        <span class="icon is-small">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>Github</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="icon is-small">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>Contact</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/derek-haleswdev">
                        <span class="icon is-small">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </span>
                        <span>LinkedIn</span>
                    </a>
                </li>

            </ul>
        </nav>
        <div class="content has-text-centered">
            <p class="subtitle is-5">
                <strong>Pollen</strong> was created by Derek Hale. It is a online photosharing/vaulting platform that
                mocks that of Instagram or Twitter with extra capabilities.
            </p>
        </div>
</section>

</body>

</html>