<%- include('../partials/header', {user}) %>
    <div class="field">
        <div class="field is-grouped is-grouped-centered">
            <p class="title is-2">Here is your profile, <%= user.user_name %>.</p>
        </div>
    </div>
    <h2>About Me: </h2>

    <h4>Posts You Are Interested in:</h4>
    <h5></h5>
    <div class="field">
        <div class="field is-grouped is-grouped-centered">
            <form method="POST" action="/users/profile?_method=delete">
                <button class="button is-small is-warning is-rounded" type="submit" value="delete" id="delete">Delete
                    Account</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>