<%- include('../partials/header', {user}) %>
    <h1>Here is your profile, <%= user.user_name %>.</h1>
    <h2>About Me: </h2>

    <h4>Posts You Are Interested in:</h4>
    <h5></h5>
    <%- include('../partials/footer') %>