<%- include('../partials/header.ejs') %>
    <form action="/posts/new" method="POST" class="container" enctype="multipart/form-data">
        <div class="field">
            <label for="title" class="label">Title Your Post:</label>
            <div class="control">
                <input class="input is-rounded is-warning" type="text" id="title" name="title" placeholder="Title..."
                    required>
            </div>
        </div>
        <div class="field">
            <label class="label" for="image">Choose An Image</label>
            <input class="input is-rounded is-warning is-small" type="file" id="image" name="image" required>
        </div>
        <div class="field">
            <label class="label" for="caption">Caption Your Post:</label>
            <div class="control">
                <textarea class="textarea is-rounded is-warning" id="caption" name="caption" placeholder="Caption..."
                    required></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox" for="visibility">
                    <input type="checkbox" id="visibility" name="visibility" value="true" required>
                    Make Your Post Public?
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-small is-rounded is-warning is-light" type="submit" value="Submit"
                    class="button is-primary">Post</button>
            </div>
        </div>
    </form>
    <%- include('../partials/footer.ejs')%>